@import 'globals.scss';

.container {
    max-width: $xxl;
    margin: 0 auto;

    &-fluid {
        max-width: 100%;
        margin: 0;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    > * {
        flex-basis: 100%;
    }
}

@mixin create-mq($breakpoint) {
    @if ($breakpoint == 0) {
        @content;
    } @else {
        @media screen and (min-width: $breakpoint) {
            @content;
        }
    }
}

@mixin create-col-classes($modifier, $breakpoint) {
    @include create-mq($breakpoint) {
        @for $i from 1 through $columns {
            .col-#{$modifier}-#{$i} {
                flex-basis: (100 / ($columns / $i) ) * 1%;
            }
            .col-#{$modifier}-offset-#{$i} {
                margin-left: (100 / ($columns / $i) ) * 1%;
            }
        }
    }
}

@each $modifier, $breakpoint in $breakpoints {
    @include create-col-classes($modifier, $breakpoint);
}