@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

:root {
    --font-thin-small: 100 12px 'Roboto', sans-serif;
    --font-thin-medium: 100 14px 'Roboto', sans-serif;
    --font-thin-big: 100 16px 'Roboto', sans-serif;

    --font-regular-small: 400 12px 'Roboto', sans-serif;
    --font-regular-medium: 400 14px 'Roboto', sans-serif;
    --font-regular-big: 400 16px 'Roboto', sans-serif;

    --font-bold-small: 700 12px 'Roboto', sans-serif;
    --font-bold-medium: 700 14px 'Roboto', sans-serif;
    --font-bold-big: 700 16px 'Roboto', sans-serif;

    font: var(--font-regular-medium);
}