$clearDirections: (
        'both',
        'left',
        'right'
);

@each $direction in $clearDirections {
    .clear-#{$direction}::after {
        content: "";
        display: block;
        clear: #{$direction};
    }
}

.shown {
    display: initial !important;
}

.hidden {
    display: none !important;
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}